<a href="https://colab.research.google.com/github/cheaqingqing/flutter_lesson/blob/main/homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/ADSP /studentlist11A.xlsx')

In [ ]:
print(data.head(10))

   NO         ID FISRT NAME    LAST NAME        DOB     PHONE
0   1  NUM334401       Vong      Sokmean 2006-01-02  11228899
1   2  NUM334402       Kong  Chanraksmey 2006-02-02   9974623
2   3  NUM334403       Chan         Seng 2006-03-02   8720347
3   4  NUM334404      Charp      Seavmey 2006-04-02   7466071
4   5  NUM334405       Chea   Chingching 2006-05-02   6211795
5   6  NUM334406       Chea    Sobondith 2006-06-02   4957519
6   7  NUM334407         Dy         Riya 2006-07-02   3703243
7   8  NUM334408        Tom      Sivnean 2006-08-02   2448967
8   9  NUM334409     Thorn     Sotharoth 2006-09-02   1194691
9  10  NUM334410         Ty      Vicheka 2006-10-02   1345443

In [ ]:
# extract column names

cols = list(data.columns)
print(f'Detected Columns: {cols}\n')

Detected Columns: ['NO', 'ID', 'FISRT NAME', 'LAST NAME', 'DOB', 'PHONE']

### **Homework**
Find a real dataset using singly linked list, doubly linked list, and Circular Linked List.



*   Singly Linked List

In [ ]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None
class SinglyLinkedList:
    def __init__(self):
        self.head = None

    def append(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            return
        cur = self.head
        while cur.next:
            cur = cur.next
        cur.next = new_node

    def delete(self, key, col_name):
        cur = self.head
        if cur and cur.data[col_name] == key:
            self.head = cur.next
            return
        prev = None
        while cur and cur.data[col_name] != key:
            prev = cur
            cur = cur.next
        if cur:
            prev.next = cur.next

    def print_list(self):
        cur = self.head
        print("=== Singly Linked List ===")
        while cur:
            print(cur.data)
            cur = cur.next
        print()



* Doubly Linked List

In [ ]:
class DNode:
    def __init__(self, data):
        self.data = data
        self.next = None
        self.prev = None


class DoublyLinkedList:
    def __init__(self):
        self.head = None

    def append(self, data):
        new_node = DNode(data)
        if not self.head:
            self.head = new_node
            return
        cur = self.head
        while cur.next:
            cur = cur.next
        cur.next = new_node
        new_node.prev = cur

    def print_forward(self):
        print("=== Doubly Linked List (Forward) ===")
        cur = self.head
        last = None
        while cur:
            print(cur.data)
            last = cur
            cur = cur.next
        print()
        return last

    def print_backward(self, last):
        print("=== Doubly Linked List (Backward) ===")
        cur = last
        while cur:
            print(cur.data)
            cur = cur.prev
        print()



*   Circuly Linked List

In [ ]:
class CNode:
    def __init__(self, data):
        self.data = data
        self.next = None


class CircularLinkedList:
    def __init__(self):
        self.head = None

    def append(self, data):
        new_node = CNode(data)
        if not self.head:
            self.head = new_node
            new_node.next = self.head
            return
        cur = self.head
        while cur.next != self.head:
            cur = cur.next
        cur.next = new_node
        new_node.next = self.head

    def print_list(self):
        print("=== Circular Linked List ===")
        if not self.head:
            print("List is empty")
            return
        cur = self.head
        while True:
            print(cur.data)
            cur = cur.next
            if cur == self.head:
                break
        print("(Back to head)\n")

In [ ]:
# Convert each row to a dictionary
records = data.to_dict(orient="records")

# Create and fill the Singly Linked List
sll = SinglyLinkedList()
for record in records:
    sll.append(record)
sll.print_list()

# Example delete
if "Student_ID" in cols:
    delete_key = data.iloc[0]["Student_ID"]
    sll.delete(delete_key, "Student_ID")
    print(f"After deleting Student_ID = {delete_key}:")
    sll.print_list()


# Create and fill the Doubly Linked List
dll = DoublyLinkedList()
for record in records:
    dll.append(record)
last = dll.print_forward()
dll.print_backward(last)

# Create and fill the Circular Linked List
cll = CircularLinkedList()
for record in records:
    cll.append(record)
cll.print_list()

=== Singly Linked List ===
{'NO': 1, 'ID': 'NUM334401', 'FISRT NAME': 'Vong', 'LAST NAME': 'Sokmean', 'DOB': Timestamp('2006-01-02 00:00:00'), 'PHONE': 11228899}
{'NO': 2, 'ID': 'NUM334402', 'FISRT NAME': 'Kong', 'LAST NAME': 'Chanraksmey', 'DOB': Timestamp('2006-02-02 00:00:00'), 'PHONE': 9974623}
{'NO': 3, 'ID': 'NUM334403', 'FISRT NAME': 'Chan', 'LAST NAME': 'Seng', 'DOB': Timestamp('2006-03-02 00:00:00'), 'PHONE': 8720347}
{'NO': 4, 'ID': 'NUM334404', 'FISRT NAME': 'Charp', 'LAST NAME': 'Seavmey', 'DOB': Timestamp('2006-04-02 00:00:00'), 'PHONE': 7466071}
{'NO': 5, 'ID': 'NUM334405', 'FISRT NAME': 'Chea', 'LAST NAME': 'Chingching', 'DOB': Timestamp('2006-05-02 00:00:00'), 'PHONE': 6211795}
{'NO': 6, 'ID': 'NUM334406', 'FISRT NAME': 'Chea', 'LAST NAME': 'Sobondith', 'DOB': Timestamp('2006-06-02 00:00:00'), 'PHONE': 4957519}
{'NO': 7, 'ID': 'NUM334407', 'FISRT NAME': 'Dy', 'LAST NAME': 'Riya', 'DOB': Timestamp('2006-07-02 00:00:00'), 'PHONE': 3703243}
{'NO': 8, 'ID': 'NUM334408', 'FISRT NAME': 'Tom', 'LAST NAME': 'Sivnean', 'DOB': Timestamp('2006-08-02 00:00:00'), 'PHONE': 2448967}
{'NO': 9, 'ID': 'NUM334409', 'FISRT NAME': 'Thorn ', 'LAST NAME': 'Sotharoth', 'DOB': Timestamp('2006-09-02 00:00:00'), 'PHONE': 1194691}
{'NO': 10, 'ID': 'NUM334410', 'FISRT NAME': 'Ty', 'LAST NAME': 'Vicheka', 'DOB': Timestamp('2006-10-02 00:00:00'), 'PHONE': 1345443}
{'NO': 11, 'ID': 'NUM334411', 'FISRT NAME': 'Tep', 'LAST NAME': 'Makara', 'DOB': Timestamp('2006-11-02 00:00:00'), 'PHONE': 1496195}
{'NO': 12, 'ID': 'NUM334412', 'FISRT NAME': 'Bun', 'LAST NAME': 'Sthapana', 'DOB': Timestamp('2006-12-02 00:00:00'), 'PHONE': 1646947}
{'NO': 13, 'ID': 'NUM334413', 'FISRT NAME': 'Phal', 'LAST NAME': 'Somang', 'DOB': Timestamp('2007-01-02 00:00:00'), 'PHONE': 1797699}
{'NO': 14, 'ID': 'NUM334414', 'FISRT NAME': 'Yon', 'LAST NAME': 'Yain', 'DOB': Timestamp('2007-02-02 00:00:00'), 'PHONE': 1948451}
{'NO': 15, 'ID': 'NUM334415', 'FISRT NAME': 'Yon', 'LAST NAME': 'Mouy', 'DOB': Timestamp('2007-03-02 00:00:00'), 'PHONE': 2099203}

=== Doubly Linked List (Forward) ===
{'NO': 1, 'ID': 'NUM334401', 'FISRT NAME': 'Vong', 'LAST NAME': 'Sokmean', 'DOB': Timestamp('2006-01-02 00:00:00'), 'PHONE': 11228899}
{'NO': 2, 'ID': 'NUM334402', 'FISRT NAME': 'Kong', 'LAST NAME': 'Chanraksmey', 'DOB': Timestamp('2006-02-02 00:00:00'), 'PHONE': 9974623}
{'NO': 3, 'ID': 'NUM334403', 'FISRT NAME': 'Chan', 'LAST NAME': 'Seng', 'DOB': Timestamp('2006-03-02 00:00:00'), 'PHONE': 8720347}
{'NO': 4, 'ID': 'NUM334404', 'FISRT NAME': 'Charp', 'LAST NAME': 'Seavmey', 'DOB': Timestamp('2006-04-02 00:00:00'), 'PHONE': 7466071}
{'NO': 5, 'ID': 'NUM334405', 'FISRT NAME': 'Chea', 'LAST NAME': 'Chingching', 'DOB': Timestamp('2006-05-02 00:00:00'), 'PHONE': 6211795}
{'NO': 6, 'ID': 'NUM334406', 'FISRT NAME': 'Chea', 'LAST NAME': 'Sobondith', 'DOB': Timestamp('2006-06-02 00:00:00'), 'PHONE': 4957519}
{'NO': 7, 'ID': 'NUM334407', 'FISRT NAME': 'Dy', 'LAST NAME': 'Riya', 'DOB': Timestamp('2006-07-02 00:00:00'), 'PHONE': 3703243}
{'NO': 8, 'ID': 'NUM334408', 'FISRT NAME': 'Tom', 'LAST NAME': 'Sivnean', 'DOB': Timestamp('2006-08-02 00:00:00'), 'PHONE': 2448967}
{'NO': 9, 'ID': 'NUM334409', 'FISRT NAME': 'Thorn ', 'LAST NAME': 'Sotharoth', 'DOB': Timestamp('2006-09-02 00:00:00'), 'PHONE': 1194691}
{'NO': 10, 'ID': 'NUM334410', 'FISRT NAME': 'Ty', 'LAST NAME': 'Vicheka', 'DOB': Timestamp('2006-10-02 00:00:00'), 'PHONE': 1345443}
{'NO': 11, 'ID': 'NUM334411', 'FISRT NAME': 'Tep', 'LAST NAME': 'Makara', 'DOB': Timestamp('2006-11-02 00:00:00'), 'PHONE': 1496195}
{'NO': 12, 'ID': 'NUM334412', 'FISRT NAME': 'Bun', 'LAST NAME': 'Sthapana', 'DOB': Timestamp('2006-12-02 00:00:00'), 'PHONE': 1646947}
{'NO': 13, 'ID': 'NUM334413', 'FISRT NAME': 'Phal', 'LAST NAME': 'Somang', 'DOB': Timestamp('2007-01-02 00:00:00'), 'PHONE': 1797699}
{'NO': 14, 'ID': 'NUM334414', 'FISRT NAME': 'Yon', 'LAST NAME': 'Yain', 'DOB': Timestamp('2007-02-02 00:00:00'), 'PHONE': 1948451}
{'NO': 15, 'ID': 'NUM334415', 'FISRT NAME': 'Yon', 'LAST NAME': 'Mouy', 'DOB': Timestamp('2007-03-02 00:00:00'), 'PHONE': 2099203}

=== Doubly Linked List (Backward) ===
{'NO': 15, 'ID': 'NUM334415', 'FISRT NAME': 'Yon', 'LAST NAME': 'Mouy', 'DOB': Timestamp('2007-03-02 00:00:00'), 'PHONE': 2099203}
{'NO': 14, 'ID': 'NUM334414', 'FISRT NAME': 'Yon', 'LAST NAME': 'Yain', 'DOB': Timestamp('2007-02-02 00:00:00'), 'PHONE': 1948451}
{'NO': 13, 'ID': 'NUM334413', 'FISRT NAME': 'Phal', 'LAST NAME': 'Somang', 'DOB': Timestamp('2007-01-02 00:00:00'), 'PHONE': 1797699}
{'NO': 12, 'ID': 'NUM334412', 'FISRT NAME': 'Bun', 'LAST NAME': 'Sthapana', 'DOB': Timestamp('2006-12-02 00:00:00'), 'PHONE': 1646947}
{'NO': 11, 'ID': 'NUM334411', 'FISRT NAME': 'Tep', 'LAST NAME': 'Makara', 'DOB': Timestamp('2006-11-02 00:00:00'), 'PHONE': 1496195}
{'NO': 10, 'ID': 'NUM334410', 'FISRT NAME': 'Ty', 'LAST NAME': 'Vicheka', 'DOB': Timestamp('2006-10-02 00:00:00'), 'PHONE': 1345443}
{'NO': 9, 'ID': 'NUM334409', 'FISRT NAME': 'Thorn ', 'LAST NAME': 'Sotharoth', 'DOB': Timestamp('2006-09-02 00:00:00'), 'PHONE': 1194691}
{'NO': 8, 'ID': 'NUM334408', 'FISRT NAME': 'Tom', 'LAST NAME': 'Sivnean', 'DOB': Timestamp('2006-08-02 00:00:00'), 'PHONE': 2448967}
{'NO': 7, 'ID': 'NUM334407', 'FISRT NAME': 'Dy', 'LAST NAME': 'Riya', 'DOB': Timestamp('2006-07-02 00:00:00'), 'PHONE': 3703243}
{'NO': 6, 'ID': 'NUM334406', 'FISRT NAME': 'Chea', 'LAST NAME': 'Sobondith', 'DOB': Timestamp('2006-06-02 00:00:00'), 'PHONE': 4957519}
{'NO': 5, 'ID': 'NUM334405', 'FISRT NAME': 'Chea', 'LAST NAME': 'Chingching', 'DOB': Timestamp('2006-05-02 00:00:00'), 'PHONE': 6211795}
{'NO': 4, 'ID': 'NUM334404', 'FISRT NAME': 'Charp', 'LAST NAME': 'Seavmey', 'DOB': Timestamp('2006-04-02 00:00:00'), 'PHONE': 7466071}
{'NO': 3, 'ID': 'NUM334403', 'FISRT NAME': 'Chan', 'LAST NAME': 'Seng', 'DOB': Timestamp('2006-03-02 00:00:00'), 'PHONE': 8720347}
{'NO': 2, 'ID': 'NUM334402', 'FISRT NAME': 'Kong', 'LAST NAME': 'Chanraksmey', 'DOB': Timestamp('2006-02-02 00:00:00'), 'PHONE': 9974623}
{'NO': 1, 'ID': 'NUM334401', 'FISRT NAME': 'Vong', 'LAST NAME': 'Sokmean', 'DOB': Timestamp('2006-01-02 00:00:00'), 'PHONE': 11228899}

=== Circular Linked List ===
{'NO': 1, 'ID': 'NUM334401', 'FISRT NAME': 'Vong', 'LAST NAME': 'Sokmean', 'DOB': Timestamp('2006-01-02 00:00:00'), 'PHONE': 11228899}
{'NO': 2, 'ID': 'NUM334402', 'FISRT NAME': 'Kong', 'LAST NAME': 'Chanraksmey', 'DOB': Timestamp('2006-02-02 00:00:00'), 'PHONE': 9974623}
{'NO': 3, 'ID': 'NUM334403', 'FISRT NAME': 'Chan', 'LAST NAME': 'Seng', 'DOB': Timestamp('2006-03-02 00:00:00'), 'PHONE': 8720347}
{'NO': 4, 'ID': 'NUM334404', 'FISRT NAME': 'Charp', 'LAST NAME': 'Seavmey', 'DOB': Timestamp('2006-04-02 00:00:00'), 'PHONE': 7466071}
{'NO': 5, 'ID': 'NUM334405', 'FISRT NAME': 'Chea', 'LAST NAME': 'Chingching', 'DOB': Timestamp('2006-05-02 00:00:00'), 'PHONE': 6211795}
{'NO': 6, 'ID': 'NUM334406', 'FISRT NAME': 'Chea', 'LAST NAME': 'Sobondith', 'DOB': Timestamp('2006-06-02 00:00:00'), 'PHONE': 4957519}
{'NO': 7, 'ID': 'NUM334407', 'FISRT NAME': 'Dy', 'LAST NAME': 'Riya', 'DOB': Timestamp('2006-07-02 00:00:00'), 'PHONE': 3703243}
{'NO': 8, 'ID': 'NUM334408', 'FISRT NAME': 'Tom', 'LAST NAME': 'Sivnean', 'DOB': Timestamp('2006-08-02 00:00:00'), 'PHONE': 2448967}
{'NO': 9, 'ID': 'NUM334409', 'FISRT NAME': 'Thorn ', 'LAST NAME': 'Sotharoth', 'DOB': Timestamp('2006-09-02 00:00:00'), 'PHONE': 1194691}
{'NO': 10, 'ID': 'NUM334410', 'FISRT NAME': 'Ty', 'LAST NAME': 'Vicheka', 'DOB': Timestamp('2006-10-02 00:00:00'), 'PHONE': 1345443}
{'NO': 11, 'ID': 'NUM334411', 'FISRT NAME': 'Tep', 'LAST NAME': 'Makara', 'DOB': Timestamp('2006-11-02 00:00:00'), 'PHONE': 1496195}
{'NO': 12, 'ID': 'NUM334412', 'FISRT NAME': 'Bun', 'LAST NAME': 'Sthapana', 'DOB': Timestamp('2006-12-02 00:00:00'), 'PHONE': 1646947}
{'NO': 13, 'ID': 'NUM334413', 'FISRT NAME': 'Phal', 'LAST NAME': 'Somang', 'DOB': Timestamp('2007-01-02 00:00:00'), 'PHONE': 1797699}
{'NO': 14, 'ID': 'NUM334414', 'FISRT NAME': 'Yon', 'LAST NAME': 'Yain', 'DOB': Timestamp('2007-02-02 00:00:00'), 'PHONE': 1948451}
{'NO': 15, 'ID': 'NUM334415', 'FISRT NAME': 'Yon', 'LAST NAME': 'Mouy', 'DOB': Timestamp('2007-03-02 00:00:00'), 'PHONE': 2099203}
(Back to head)

In [ ]:
for record in records:
  reverse_record = {}
  for key in reversed(record):
    reverse_record[key] = record[key]
  print(reverse_record)

{'PHONE': 11228899, 'DOB': Timestamp('2006-01-02 00:00:00'), 'LAST NAME': 'Sokmean', 'FISRT NAME': 'Vong', 'ID': 'NUM334401', 'NO': 1}
{'PHONE': 9974623, 'DOB': Timestamp('2006-02-02 00:00:00'), 'LAST NAME': 'Chanraksmey', 'FISRT NAME': 'Kong', 'ID': 'NUM334402', 'NO': 2}
{'PHONE': 8720347, 'DOB': Timestamp('2006-03-02 00:00:00'), 'LAST NAME': 'Seng', 'FISRT NAME': 'Chan', 'ID': 'NUM334403', 'NO': 3}
{'PHONE': 7466071, 'DOB': Timestamp('2006-04-02 00:00:00'), 'LAST NAME': 'Seavmey', 'FISRT NAME': 'Charp', 'ID': 'NUM334404', 'NO': 4}
{'PHONE': 6211795, 'DOB': Timestamp('2006-05-02 00:00:00'), 'LAST NAME': 'Chingching', 'FISRT NAME': 'Chea', 'ID': 'NUM334405', 'NO': 5}
{'PHONE': 4957519, 'DOB': Timestamp('2006-06-02 00:00:00'), 'LAST NAME': 'Sobondith', 'FISRT NAME': 'Chea', 'ID': 'NUM334406', 'NO': 6}
{'PHONE': 3703243, 'DOB': Timestamp('2006-07-02 00:00:00'), 'LAST NAME': 'Riya', 'FISRT NAME': 'Dy', 'ID': 'NUM334407', 'NO': 7}
{'PHONE': 2448967, 'DOB': Timestamp('2006-08-02 00:00:00'), 'LAST NAME': 'Sivnean', 'FISRT NAME': 'Tom', 'ID': 'NUM334408', 'NO': 8}
{'PHONE': 1194691, 'DOB': Timestamp('2006-09-02 00:00:00'), 'LAST NAME': 'Sotharoth', 'FISRT NAME': 'Thorn ', 'ID': 'NUM334409', 'NO': 9}
{'PHONE': 1345443, 'DOB': Timestamp('2006-10-02 00:00:00'), 'LAST NAME': 'Vicheka', 'FISRT NAME': 'Ty', 'ID': 'NUM334410', 'NO': 10}
{'PHONE': 1496195, 'DOB': Timestamp('2006-11-02 00:00:00'), 'LAST NAME': 'Makara', 'FISRT NAME': 'Tep', 'ID': 'NUM334411', 'NO': 11}
{'PHONE': 1646947, 'DOB': Timestamp('2006-12-02 00:00:00'), 'LAST NAME': 'Sthapana', 'FISRT NAME': 'Bun', 'ID': 'NUM334412', 'NO': 12}
{'PHONE': 1797699, 'DOB': Timestamp('2007-01-02 00:00:00'), 'LAST NAME': 'Somang', 'FISRT NAME': 'Phal', 'ID': 'NUM334413', 'NO': 13}
{'PHONE': 1948451, 'DOB': Timestamp('2007-02-02 00:00:00'), 'LAST NAME': 'Yain', 'FISRT NAME': 'Yon', 'ID': 'NUM334414', 'NO': 14}
{'PHONE': 2099203, 'DOB': Timestamp('2007-03-02 00:00:00'), 'LAST NAME': 'Mouy', 'FISRT NAME': 'Yon', 'ID': 'NUM334415', 'NO': 15}